
body{
background-color: green;
}




#host{
    border: 4px solid rgb(2, 32, 2);
    position:absolute;
    z-index: 1200;
    top: 80px;
    height:800px;
    width: 800px; 
    margin-left: 80px;

}
canvas{
    position:absolute;
    z-index: 1000;
    background-image: url("../pictures/sub-bck.png");
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(2, 32, 2);
    top: 80px;
    height: 800px;
    width: 800px;
    margin: auto;
    margin-left: 80px;

}
